<%- include("./partials/header"); %>
<h1>Localisation</h1>
<p> <%= city %> </p>
<h1>Temperature in <%= city %> is : <%= temperature %> degrees Celcius.</h1>
<p>The current wheather : <%= weatherDescription %>.</p>
<img src=<%= urlIcon %>>
<%- include("./partials/footer") %>
